<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Settings</h1>
    <button class="button button-clear button-primary" ng-click="configure()">Save</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <label class="item item-input">
          <input type="url" placeholder="Url" ng-model="configuration.url">
        </label>
      </ion-item>
      <ion-item>
        <label class="item item-input">
          <input type="text" placeholder="Port" integer ng-model="configuration.port">
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
